<form action="/src/public/signup.ejs" method="POST">
    <input type = "email" name="email" placeholder="ingrese email">
    <input type = "password" name ="password" placeholder="ingrese contraseña">

    <button type="submit">
        Signup
    </button>
</form>